.content {
  background: var(--color__bg);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  padding: var(--padding--small);
  margin: 0 var(--margin--small);

  @include atMedium {
    padding: var(--padding) var(--padding--wide);
  }
  @include atLarge {
    margin: 0;
  }

  &--no-padding {
    padding: 0;
  }
}

.content__inner {
  padding: var(--padding--small);
  @include atMedium {
    padding: var(--padding) var(--padding--wide);
  }
}

.content__title {
  margin-bottom: var(--padding--small);
  font-size: 2em;
}

/** Tables **/
.content .wp-block-table {
  margin: var(--padding) 0;
}

.content table thead {
  background-color: var(--color__primary);
  color: var(--color__primary--contrast);
}

.content table tr {
  display: flex;
}

.content table th,
.content table td {
  padding: 10px;
  flex: 1;
}
