.content {
  background: var(--color__bg);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
}

.content__title {
  padding: var(--padding);
}

.content__content {
  padding: var(--padding);
}
