.content {
  background: var(--color__bg);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  padding: var(--padding);

  &--no-padding {
    padding: 0;
  }
}

.content__inner {
  padding: var(--padding);
}

.content__title {
  margin-bottom: var(--padding);
}

.content__text {
  margin-bottom: var(--padding);
}
