.nav-main {
}

.nav-main__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-main__item {
  background: var(--color__primary);
  padding: 7px 10px;
  transition: background 0.3s;
  cursor: pointer;
  width: 12.5%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  &--active,
  &:hover {
    background: var(--color__secondary);
  }
}

.nav-main__link {
  color: var(--color__primary--contrast);
  text-decoration: none;
  font-weight: 400;
}
