.nav-desktop {
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu-item {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .menu-item a {
    transition: background 0.3s;
    background: var(--color__primary);
    color: var(--color__primary--contrast);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: var(--color__secondary);
    }
  }

  /** 2nd level */
  .sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sub-menu .menu-item {
    display: none;
    position: relative;
  }

  .menu-item-has-children:hover .sub-menu .menu-item,
  .menu-item-has-children.expanded .sub-menu .menu-item {
    display: block;
    top: 0;
  }
}
