.pagination {
  margin-top: 20px;
}

.pagination .page-numbers {
  padding: 10px;
  background: var(--color__primary);
  color: var(--color__primary--contrast);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  transition: background 0.3s;

  &:hover,
  &.current {
    background: var(--color__secondary);
    color: var(--color__secondary--contrast);
  }
}
