.page {
  background: var(--color__bg);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
}

.page__title {
  padding: var(--padding);
}

.page__content {
  padding: var(--padding);
}
