footer {
  background: var(--color__primary);
  color: var(--color__primary--contrast);
  padding: var(--padding);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  display: flex;
  justify-content: space-between;
  margin: var(--margin--small) var(--margin--small) 0;

  @include atLarge {
    margin: var(--margin) 0 0;
  }
}
