footer {
  background: var(--color__primary);
  color: var(--color__primary--contrast);
  padding: var(--padding);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--margin--small) var(--margin--small) 0;

  @include atSmall {
    flex-direction: row;
  }

  @include atLarge {
    margin: var(--margin) 0 0;
  }
}

.footer__item {
  flex: 1 1 0;
  margin-bottom: var(--margin);
  @include atSmall {
    margin-bottom: 0;
  }
}
