@charset 'UTF-8';

header {
  background: var(--color__bg);
  -webkit-box-shadow: var(--background);
  box-shadow: var(--background);
  margin: var(--margin--small);

  @include atLarge {
    margin: var(--margin--small) 0 var(--margin);
  }
}

.header__top {
  display: flex;
  padding: var(--padding--small);

  @include atSmall {
    padding: var(--padding);
  }
}

.header__logo {
  max-width: 200px;
  min-width: 100px;
  margin-right: 10px;

  @include atSmall {
    margin: 0 20px;
  }
}

.header__right {
  @include atSmall {
    margin-left: 50px;
    margin-top: 20px;
  }
}

.header__title {
  display: none;
  font-size: 1.8em;
  margin: 0;
  color: var(--color__primary);
  @include atMedium {
    display: block;
  }
  @include atMedium {
    font-size: 2.5em;
  }
}

.header__subtitle {
  font-size: 1.2em;
  color: var(--color__primary);
  @include atMedium {
    font-size: 1.5em;
  }
}
